/******************/
    /* Sticky Navigation */
/******************/

.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    
    padding-top: 0;
    padding-bottom: 0;

    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.952);
}

/* .sticky .hero-section {
    margin-top: 96px;
} */

/******************/
    /* Navigation */
/******************/

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    background-color: #fff4e6;
    position: relative;
}

.logo {
    height: 30px;
    width: auto;
}

.header nav ul{
    display: flex;
    align-items: center;
    gap: 32px;

    list-style-type: none;
}

.nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: #e67e22;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer
}

.nav-link.nav-link-highlighted {
    background-color: #e67e22;
    color: white;
    padding: 10px 16px;
    border-radius: 9px;
}

.nav-icon {
    width: 42px;
    height: 42px;
}

.nav-icon[name="close"] {
    display: none;
}

.nav-icons {
    display: none;
}

/******************/
    /* Hero */
/******************/
.hero-section {
    background-color: #fff4e6;
}

.hero {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 32px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px
}

.heading-primary {
    margin-bottom: 32px;
}

.text-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 2.2rem;
}

.delivered-meals {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.delivered-img {
    display: flex;
    align-items: center;
    margin-right: -16px;
}

.delivered-img img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.delivery-text {
    font-size: 18px;
    margin-left: 12px;
}

.delivery-text span {
    color: #e8590c;
    font-weight: 700;
}

/******************/
    /* featured */
/******************/

.featured {
    padding: 96px 0 32px;
}

.heading-featured-in {
    font-size: 22px;
    color: #868e96;
    text-align: center;
    margin-bottom: 32px;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 32px;
    filter: brightness(0%);
    opacity: .5;
    transition: all .5s;
}

.logos img:hover {
    filter: brightness(100%);
    opacity: 1;
}

/******************/
    /* How it works */
/******************/


.step-text-box {
    padding: 40px;
}


.heading-secondary {
    margin-bottom: 96px;
    color: #3f260b;
}

.step-number {
    font-size: 96px;
    font-weight: 700;
    color: #dee2e6;
    margin-bottom: 12px;
}
.step-tertiary {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 32px;
    color: #3f260b
}
.step-description {
    font-size: 22px;
    line-height: 1.4;
    color: #495057;
}

.step-img-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fff4e6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #ffe8cc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.step-img {
    width: 35%;
}

.section-how {
    padding: 92px 0;
}

/******************/
    /* Meals */
/******************/

.meals-section {
    padding: 96px 0;
}

.meals-section .heading-secondary {
    margin-bottom: 56px;
}

.meal {
    box-shadow: 0 12px 24px rgba(0,0,0,.2);
    border-radius: 11px;
    overflow: hidden;
    transition: all .5s;
}

.meal:hover {
    transform: translateY(-45px);
    box-shadow: 0 32px 24px rgba(0,0,0,.2);
}

.meal-content {
    padding: 32px;
}

.tag {
    font-size: 18px;
    display: inline-block;
    padding: 8px 22px;
    border-radius: 100px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.tag-veg {
    background-color: rgb(27, 146, 27);
    color: white;
}

.tag-vegan {
    background-color: turquoise;
    color: white;
}

.tag-paleo {
    background-color: palegreen;
    color: black;
}

.meal-name {
    font-size: 24px;
    margin-bottom: 22px;
}

.meal-atributes {
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style-type: none;
}

.meal-atribute {
    font-size: 18px;
    display: flex;
    gap: 12px;
}

.meal-atributes .icon {
    color: #fcc419;
}

/* Diets */

.diets .diets-geet {
    font-size: 32px;
    color: #3f260b;
    margin-bottom: 22px;
}

.diets .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.diets .list .list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
}

.list-icon {
    color: #fcc419;
}

.all-recipies {
    margin-top: 32px;
}



/******************/
    /* Meals */
/******************/
.section-testimonials {
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    gap: 32px;
    background-color: #fff4e6;
}

.testimonial-container {
    padding: 96px;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 96px;
}

.testimonial-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 22px;
}

.testimonial-description {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 32px;
    color: #868e96;
}

.testimonial-name {
    font-size: 24px;
    font-weight: 600;
    color: #495057;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 24px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    transition: all .4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/******************/
    /* Pricing */
/******************/

.pricing-section {
    padding: 96px 0;
}

.pricing-plan {
    padding: 56px;
    border-radius: 11px;
    width: 75%;
}

.pricing-header {
    text-align: center;
}

.pricing-category {
    font-size: 32px;
    font-weight: 600;
    color: #e67e22;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.pricing-price {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 16px;
}

.pricing-price strong {
    font-size: 32px;
    font-weight: 600;
    margin-right: 8px;
    color: #555;
}

.pricing-text {
    font-size: 18px;
    color: #000;
    margin-bottom: 56px;
}

.pricing-plan .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 56px;
}

.pricing-plan .list .list-item {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 22px;
}

.list-icon {
    color: #fcc419;
}

.pricing-btn {
    text-align: center;
}


.pricing-starter {
    justify-self: end;
    border: 2px solid #fff4e6;
}

.pricing-complete {
    position: relative;
    background-color: #fff4e6;
    overflow: hidden;
    box-shadow: 0 10px 12px rgba(0,0,0,.1);
}

.pricing-complete::after {
    content: "best Value";
    text-transform: uppercase;
    position: absolute;
    top: 6%;
    right: -11%;
    color: #000;
    background-color: yellow;
    padding: 8px 45px;
    font-size: 18px;
    font-weight: 700;
    transform: rotate(45deg);
}

/******************/
    /* Pricing */
/******************/

.feature {
    padding: 30px 0 0;
}

.feature-heading{
    font-size: 18px;
    font-weight: 700;
    margin: 96px 0 20px;
    text-align: center;
}

.feature-text {
    font-size: 22px;
    font-weight: 600;
    margin: 32px 0 22px;
}

.feature-description {
    font-size: 18px;
    line-height: 1.4;

}


.f-icon {
    font-size: 32px;
    color: red;
    padding: 18px;
    border-radius: 50%;
    background-color: blanchedalmond;
}

/******************/
    /* cta */
/******************/

.section-cta {
    padding: 0 0 96px ;
}

.cta {
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient( to right, #e8590c, #f09361);
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.2);

}

.cta-text-box {
    padding: 64px;
    color: #3f260b;
}

.cta-image-box {
    background-image: linear-gradient(rgba(255, 0, 0, 0.4), rgba(255, 166, 0, 0.4)), url('../img/eating.jpg');
    background-size: cover;
    background-position: center;    
    width: 100%;
}

.heading-secondary {
    margin-bottom: 12px;
    color: inherit;
    font-size: 44px;
}

.cta-text {
    color: inherit;
    font-size: 18px;
    line-height: 1.6;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 22px;
    padding: 12px 0;
}

.cta-form *:focus {
    outline: none;
    box-shadow: 0 0 0 8px rgb(170, 170, 170, .5);
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 15px;
    background-color: lavenderblush;
    border: none;
    border-radius: 9px;
}

input::placeholder {
    color: #aaa;
}

.cta-form .btn {
    width: 100%;
    background-color: rgb(44, 12, 12);
    color: rgb(255, 255, 255);
    align-self: flex-end;
    padding: 12px;
}

.cta-form .btn:hover {
    background-color: white;
    color: rgb(44, 12, 12);
}


/******************/
    /* Footer */
/******************/

.footer {
    padding: 56px 0;
    border-top: 1px solid #ddd
}

.footer .grid {
    gap: 32px
}

.footer-grid {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.logo-col .logo {
    margin-bottom: 32px;
}

.logo-col .social-links ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.social-icon {
    width: 24px;
    height: 24px;
    color: #868e96;
}

.copyright {
    font-size: 18px;
    line-height: 1.6;
    margin-top: auto;
}

.address {
    font-style: normal;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    color: #aaa;
}

.address-link {
    margin-top: auto;
}

.phone:link,
.email:link {
    margin-top: auto;
    color: #868e96;
}



.footer-heading {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
    color: #555;
}

.footer-link ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
    list-style: none;
}

.footer-link ul li {
    font-size: 18px;
    color: #868e96;
}